{% extends 'base/backend/base.html' %}

{% load static %}
{% load staticfiles %}
{% block title %} Hotel Details {% endblock %}
{% block page_title %} Add Hotel Details {% endblock %}

{% block content %}
<style>
  #zoom:hover;
  #zoom:active;
  #zoom:focus {
  -ms-transform:scale(2.0);
  -moz-transform:scale(2.0);
  -webkit-transform:scale(2.0);
  -o-transform:scale(2.0);
  position:relative;
  z-index:100;
  }

</style>
 <div class="container">
    <div class="row">
            <div class="col-md-8 offset-2">
            {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert" style="background-color: whitesmoke; box-shadow: 10px 10px 10px;color:darkgray">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
   <p style="color:red">{{ message }}</p>
        {% endfor %}
        </div>
    </div>
    </div>
    <div class="col-md-10 offset-1" style="margin-top:1%">
    <div class="card">
   <div class="row">
     <div class="card-body">
         <div class="col-md-6 offset-3">
              <!--<div class="row">-->
                     <!--<div class="col-md-4">-->
                        <!--<img src="{{ hotel_image.hotel_image.url|first }}" class="img-fluid" style="height:200px; width:1000px" >-->
                     <!--</div>-->
             <!--</div>-->
         </div>
<table class="table table-hover table-light" style="margin-top1%">
  <tbody>
  <tr>
      <th>Hotel Name:</th>
    <td>{{ hotel.hotel_name }}</td>
  </tr>
  <tr>
    <th>Brief Description:</th>
    <td>{{ hotel.brief_description }}</td>
  </tr>
  <tr>
    <th>Address:</th>
    <td>{{ hotel.hotel_address }}</td>
  </tr>
   <tr>
    <th>Contact:</th>
    <td>{{ hotel.hotel_contact }}</td>
  </tr>
     <tr>
    <th>Location:</th>
    <td>{{ hotel.location }}</td>
  </tr>
</table>
     </div>
   </div>
    </div>
    </div>
 <div class="col-md-10 offset-1">
    <div class="card">
     <div class="card-body">
         <div class="row">
         <div class="col-md-6" >
             <div class="row col-md-10 offset-1">.
                 <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal"
                         onclick="addRoomImage('{{ rooms.pk }}')"><i class="fas fa-plus-square"></i>
                     Add Room
                 </button>
             </div>
                 <table class="table table-hover table-light" style="margin-top:4%">

                      <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Room Category</th>
                            <th scope="col">Room Number</th>
                            <th scope="col"> Add Room Image</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for rooms in room %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{{ rooms.room_type.category_name }}</td>
                             <td>{{ rooms.room_number }}</td>
                         <td>
                           <button type="button" class="btn btn-info" data-toggle="modal" data-target="#examModal" onclick="getRoomPK('{{ rooms.room_type.pk }}')">
                              Add Room Image
                            </button>
                         </td>
                        </tr>
                      {% endfor %}
                      </tbody>
             </table>
              </div>
             <div class="col-md-6">
                 <!-- Button trigger modal -->
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#examplModal">
  Add More Hotel Image:
</button>

<!-- Modal -->
<div class="modal fade" id="examplModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <form action="{% url 'Hotel:add_more_image' hotel.pk %}" method="post" enctype="multipart/form-data">
         {% csrf_token %}
     <div class="form-group col-md-9">
         <label>Image Name:</label>
         <input type="text" class="form-control" name="image">
     </div>
        <div class="col-md-9">
            <label>Add More Hotel Image:</label>
            <input type="file" class="form-control" name="image2"/>
        </div>
     <div class="col-md-9" style="margin-top:1%">
        <input type="submit" class="btn btn-info pull-right"/>
     </div>
     </form>
      </div>
    </div>
  </div>
</div>
                 <table class="table table-hover table-light" style="margin-top:4%">
                      <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Image Name</th>
                            <th scope="col">View</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for images in hotel_image %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{{ images.image_name }}</td>
                            <td>
                                <a href="{{ images.hotel_image.url }}" class="btn btn-light btn-md" target="_blank">
                                    <i class="far fa-eye"></i> View
                                </a>
                            </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                 </table>
         </div>

   </div>
    </div>
 </div>
<br/>
     <form action="{% url 'Hotel:add_more_image' hotel.pk %}" method="post" enctype="multipart/form-data">

     </form>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ADD ROOM</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <form action="{% url 'Hotel:add-room' hotel.pk %}" method="post" enctype="multipart/form-data">
         {% csrf_token %}

               <div class="form-group col-md-9">
                   <label>Room Category:</label>
                  <select name="room_type" class="form-control">
                      {% if room_types %}
                          {% for room_type in room_types %}
                          <option value="{{ room_type.category_name }}">{{ room_type.category_name }}</option>
                          {% endfor %}
                      {% else %}
                        <option>no categories created</option>
                      {% endif %}
                  </select>
                   <!--<input type="text" class="form-control" aria-label="Text input with dropdown button">-->
                </div>
                <div class="form-group col-md-9">
                    <label>Room Rate:</label>
                    <input type="text" class="form-control" name="room_rate"required>
                </div>
                <div class="form-group col-md-9">
                    <label>Room Description:</label>
                    <input type="text" class="form-control" name="room_description"required>
                </div>
                 <div class="form-group col-md-9">
                    <label>Bed Type:</label>
                    <input type="text" class="form-control" name="room_bed_type" required>
               </div>
                 <div class="form-group col-md-9">
                    <label>Room Number:</label>
                    <input type="text" class="form-control" name="room_number" required>
               </div>
                <div class="form-group col-md-9">
                    <label>Image Name:</label>
                    <input type="text" class="form-control" name="room_image_name"required>
               </div>
               <div class="col-md-9">
                    <label>Add Room Image:</label>
                    <input type="file" class="form-control" name="room_image" required/>
               </div>
               <div class="col-md-9" style="margin-top:1%">
                    <input type="submit" class="btn btn-info pull-right"/>
               </div>
            </form>
      </div>
     <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>-->
    </div>
  </div>
</div>
 </div>
 </div>

<!-- Modal To add more room images -->
<div class="modal fade" id="examModal" tabindex="-1"  role="dialog" aria-labelledby="examplModalLabel" aria-hidden="true" >
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Add Room Image</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                            <form action="{% url 'Hotel:add_more_room_image' hotel.pk %}" class="form-horizontal" method="post" enctype="multipart/form-data">
                                                <div class="modal-body">
                                                    {% csrf_token %}
                                                    <input type="hidden" id="status" name="status">
                                                    <div class="form-group">
                                                        <label for="room_image_name" class="control-label col-sm-6">Room Image Name: </label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" id="room_image_name" name="room_image_name">
                                                        </div>
                                                    </div>
                                                     <div class="form-group">
                                                        <label for="room_image" class="control-label col-sm-6">Add Room Image: </label>
                                                        <input type="file" class="form-control" id="room_image" name="room_image"/>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <input type="submit" class="btn btn-info" value="Submit">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
<!-- End Modal -->

{% endblock %}

{% block js %}
    <script>
          function getRoomPK(pk) {
            $('#status').val(pk);
          }
    </script>
{% endblock %}