{% extends 'base/frontend/base.html' %}
{% load static %}
    {% block title %} - About{% endblock %}
    {% block content %}

<html lang="en">
<body>
<h1>About Us</h1>
<img src = "{% static 'pictures/lobby.jpg '%}" width="100%"></br>
<p>
    We are an online hotel Management Agency specialised in hotel bookings within Nigeria.
    We help customers reserve good, clean and safe hotel rooms online, providing comprehensive help and support to our
    clients and making the hotel booking process hassle free.
</p>
<h3>Mission</h3>
<p>To enhance knowledge and Provide a platform for Nigerians and Africans at large.</p>

<h3>Vision</h3>
<p>To become the Most reliable and biggest provider of hotel information and reservation in Nigeria</p>

<h3>Values</h3>
<p>   We are an online hotel Management Agency specialising in hotel bookings within Nigeria.
    We help customers reserve good, clean and safe hotel rooms online, providing comprehensive help and support to our
    clients and making the hotel booking process hassle free.</p>

</body>
</html>
{% endblock %}